<h3 class="post__header">
  <span class="post__number">Post #<%= post.id %></span> | <%= truncate(post.title, length: 80) %>
</h3>
<p class="post__text"> <%= truncate(post.text, length: 250, omission: '... (more)') %> </p>
<div class="post__counters">
  <%= link_to 'New Comment', new_post_comment_path(post), class: 'btn btn--primary' %>
  <%= button_to "Give Like", post_likes_path(post), method: :post, class: 'btn btn--primary' %>
  <%= render partial: 'application/counter', locals: {
  counter_name: 'Comments',
  counter_value: post.comments_counter } %>
  <%= render partial: 'application/counter', locals: {
  counter_name: 'Likes',
  counter_value: post.likes_counter } %>
</div>